*{
    box-sizing: border-box;
    background-color: #264ECA;
}
html{
    font-family: 'Montserrat', sans-serif;      
}

header{
    color: white;
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 40rem;
  }

#formLogin{
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 40rem;
    color: white;

}

.input-login{
    display: block;
    margin: 0 0 20px;
    padding: 5px 10px;
    width:90%;
    max-width: 40rem;;
    text-align: center;
    color:white;
}

.btn-login{
    display: block;
    padding: 5px 10px;
    width: 90%;
    max-width: 40rem;;
    text-align: center;
    background-color:white;
    color: #2145B0;

}

::placeholder{
    color:white;
}