*{
    box-sizing: border-box;
    background-color: #264ECA;
}
.titulo-login{
    font-family: 'Montserrat', sans-serif;  
    font-weight: normal;  
    font-size: 50;  
}

header{
    color: white;
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 40rem;
  }

#form-login{
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 40rem;
    color: white;

}

.input-login{
    display: block;
    font-size: medium;
    margin: 0 0 20px;
    padding: 5px 10px;
    width:93%;
    max-width: 40rem;;
    height: 40px;
    text-align: center;
    color:white;
    border-radius: 6px;
}

.btn-login{
    display: block;
    font-size: medium;
    font-weight: bold;
    padding: 5px 10px;
    width: 93%;
    height: 40px;
    max-width: 40rem;
    text-align: center;
    background-color:white;
    color: #2145B0;
    border-radius: 6px;
}

.reset-pwd{
    display: block;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    border: none;
    color: white;
    position: absolute;
    left: 56%;
}

.criar-conta{
    display: block;
    font-size: 16px;
    padding: 10px 0px 20px;
    text-align: center;
    border:none;
    color: white;
    position: absolute;
    
}

.btn-login:hover{
    background-color: #FEBB0A;
    color: #0E1D4A;
}

.reset-pwd:hover{
    color: #FEBB0A;
}

.criar-conta:hover{
    color: #FEBB0A;
}


::placeholder{
    color:white;
}